body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio,
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

.contacts a {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
button {
  cursor: pointer;
}

.page-title {
  background-color: #2e2f42;
}
.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em;
}

.page-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.contacts a:hover,
.contacts a:focus,
.page-nav a:hover,
.page-nav a:focus {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

.team {
  background-color: #f4f4fd;
}

.team h3,
.team p {
  text-align: center;
}

.team p {
  color: #434455;
  font-size: 16px;
}

.team h3,
.portfolio h3,
.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team p,
.portfolio p,
.features p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-title,
.team-title,
.features-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.footer-page {
  background-color: #2e2f42;
}
.footer-page a {
  text-decoration: none;
}
.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}
.footer-logo-studio,
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.66;
  letter-spacing: 0.03em;
}

.footer-page p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
}
.section {
  padding: 120px 0;
}
.page-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}
.page-nav-link {
  display: block;
  padding: 24px 0;
}
.contacts ul {
  display: flex;
  gap: 40px;
}
.contacts {
  margin-left: auto;
}
.contacts a {
  display: block;
  padding: 24px 0;
}
.page-title.section {
  padding: 188px 0;
}
.page-title .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-title {
  max-width: 496px;
}
.container .btn {
  display: flex;
  margin-top: 48px;
  border: none;
}
.features .container {
  display: flex;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features ul {
  display: flex;
  gap: 24px;
}

.features li {
  width: calc((100% - 72px) / 4);
}
.team-title {
  margin-bottom: 72px;
}

.team ul {
  display: flex;
  gap: 24px;
}

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio li {
  flex-basis: calc((100% - 48px) / 3);
}

.team-card-text {
  padding: 32px 16px;
}
.team-card {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-card img {
  display: block;
  height: auto;
  width: 100%;
}
.team h3,
.portfolio h3,
.features h3 {
  margin-bottom: 8px;
}

.portfolio-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.footer-page {
  padding: 100px 0;
}
.footer-page .container {
  display: flex;
  align-items: flex-start;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
}

.page-title {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.btn,
.main-title {
  position: relative;
  z-index: 1;
}

.icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.icon-features {
  display: block;
}

.team-icon-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}

.team-icon-link:focus,
.team-icon-link:hover {
  background-color: #404bbf;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-social-box {
  display: flex;
  width: 208px;
  height: 40px;
  gap: 16px;
  margin-top: 16px;
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:focus,
.footer-icon-link:hover {
  background-color: #31d0aa;
}

.box-overlay {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
}
.portfolio-list .overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-list:focus .overlay,
.portfolio-list:hover .overlay {
  transform: translateY(0);
}

.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:focus,
.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.page-nav-link {
  position: relative;
  padding: 24px 0;
}

.page-nav-link.is-active::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: 0;
}
.page-nav .page-nav-link.is-active {
  color: #404bbf;
}
